
p {
    color: blue;
    background-color: chartreuse;
    font-size: 20px;
}
/* es comentarios, anadan un background a la etiqueta h1 y cambien su tamano a 50 px*/

h1 {
    background-color: aqua;
    font-size: 50px;
}


h3 {
background-color: orange;
}

#estado{
background-color: brown;
}

.btn {
background-color: goldenrod;
}

.texto-resaltado {
    color: blue;
}