/* background-color: hsl(148, 38%, 91%);
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  */

body {
    /*border: 1px solid red;*/

    font-family: "inter", sans-serif;
    font-size: 14px;
    background-color: hsl(0, 0%, 8%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 7px;

    margin-top: 28px;
}


main {
    
    /*border: 1px solid green;*/

    background-color: hsl(0, 0%, 12%);
    color: white;
    line-height: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}





div {

    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 7px;
}

img {
            width: 140px;        /* Diámetro del círculo */
            height: 140px;       /* DEBE SER IGUAL AL ANCHO */
            border-radius: 50%;  /* Convierte el contenedor en círculo */
            overflow: hidden;    /* ¡Oculta lo que se salga del círculo! */
          
            
            display: flex; /* Opcional: Centra la imagen si el contenedor es flex */
            justify-content: center;
            align-items: center;

            display: block;  /* 1. Hace que la imagen se comporte como un bloque */
            width: 50%;      /* 2. Le da un ancho (necesario para que margin: auto funcione) */
            margin: 0 auto;  /* 3. Centra automáticamente el bloque horizontalmente */
}

.mensaje { 
    line-height: 40px;
}
.verde {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    
}

input  {
    background-color: hsl(0, 0%, 20%);
    color: white;
}