@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    /* padding para configurar la distancia del texto de los bordes */
    margin: 0px;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.boton {
    margin-top: 15px;
    background-color: hsl(234, 29%, 20%);
    width: 100%;
    height: 70px;
    font-size: 20px;
    color: white;
}

.boton:hover{
    background: linear-gradient(to right, #ff4081, #FF9800);
    cursor: pointer;
}

body{
    background-color:  hsl(235, 18%, 26%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.texto h1 {
    color: hsl(235, 18%, 26%);
    font-size: 50px;
    line-height: 50px;
}

.fondo {
    background-color: white; /* Fondo blanco */
    border-radius: 20px; /* Esquinas redondeadas */
    padding: 27px; /* Espacio interior */
    max-width: 800px;
    width: 20%;
    margin: 50px auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}