
  
  @font-face {
    font-family: 'Monserat';
    src: url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 500; 
    }


      @font-face {
    font-family: 'Monserat';
    src: url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 700; 
    }


       @font-face {
    font-family: 'Fraunces';
    src: url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 700; 
    }
  
  
  body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Monserat';
    font-family: 'Fraunces';
  }
