/* VARIABLES */

:root {
  /* FONTS */

  --font-primary: "Poppins", sans-serif;
  --font-size: 16px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
 

  /* COLORS*/

 

  /* equilateros */
  --equilateros-color-verde:#00B050;
  --equilateros-color-azul: #1D428A ;
  --equilateros-color-violeta: #6D8FDB; 
  --equilateros-color-naranja: #FF8F1C;
  
  /* equilateros sevundarios*/
  --equilateros-color-morado: #934BC9;
  --equilateros-color-celeste: #00B0F0;
  --equilateros-color-rojo: #FF0000;
  --equilateros-color-amarillo: #ECFA6C ;

   --color-white: #FFFFFF;
   --color-black: #000000;
   --color-blue-sky: #00C2FF;
   --color-gray-dark: #4F4F4F;

}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size); 
}

body {
  font-family: var(--font-primary);

  background-color: var(--equilateros-color-azul);

  color: var(--primary-color-white);
}

a {
  color: inherit;

  text-decoration: none;
   }






/* UTILS */

.wrapper {
  width: min(100% - 3rem, 1220px);
  margin: 0 auto;

  /* border: 1px solid red; */
}

/* HEADER SECTION */



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem; 
}

.header__logo {
  
}

.header__menu {
  display: none;
}

@media (min-width: 992px) {
  .header__menu {
    display: flex;
    gap: 1.5rem;
  }
}

.header__menu a {
  font-size: 1.125rem; 
  color: var(--primary-color-white);
  font-weight: var(--font-weight-semibold);
  text-transform: capitalize;

  transition: all;
}

.header__menu a:hover {
  color: var(--equilateros-color-naranja);
  transform: scale(1.3);
  
 
}

.header__menu  {
  color: var(--equilateros-color-naranja);
  padding-bottom: 5px;
  
 
}



/* HERO SECTION */



.hero {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  padding: 4rem;
}

.hero--bg {
  background-image: url(images/bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: var(--equilateros-color-violeta);
}

.hero__greeting {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}

.hero__greeting span {
 
  color: var(--equilateros-color-azul);
  font-size: 3rem;
}

.hero__title {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
}

.hero__description {
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
}

.hero__photo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;

  width: 20rem;
  height: 20rem;
}

.stack__links {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  
}

.stack__links img {
  width: 3rem;
  height: 3rem;

}

.stack {
  
  /* border: 1px solid red; */

  display: grid;

  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
}

@media (min-width: 992px) {
  .stack {
    grid-template-columns: repeat(6, 1fr);
  }
}

.stack__wrapper {
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack__box {
  background-color: var(--equilateros-color-amarillo);
  width: 7rem; x
  height: 7rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.stack__title {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5rem;
}

.hero-info__contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-info__contact span {
  display: flex;
  gap: 1.5rem;
}


/* formulario */

.formulario {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
 

}

.formulario__datos {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  

}

.formulario p {

  color: var(--equilateros-color-amarillo);
  margin-top: 3rem;
  width: 20rem;
  margin-bottom: 3rem;

}


/* FOOTER SECTION */



.footer {
  background-color: var(--equilateros-color-morado);

  padding: 5rem 0 5rem 0;
}

.footer--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;;
  gap: 2rem;

  margin: 0 auto;

  background-color: transparent;
}

