body {
    /*border: 1px solid red;*/
    background-color: hsl(234, 29%, 20%);

    font-family: "Roboto", sans-serif;
    Font size (paragraph): 16px display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;

    margin: 0;
}

main {
    /*border: 1px solid red;*/
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


section {
    border: 1px solid green;
    padding: 20px;

}


form {
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    

}

input[type=email] {
  width: 100%;
  
  
  color: hsl(0, 0%, 100%); /* white <> #FFFFFF <> #FFF */
  border-radius: 8px;
  padding: 16px;
  font-weight: 700;
  letter-spacing: 1px;
 
}

input[type=submit] {
  width: 100%;
  border: none;
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%); /* white <> #FFFFFF <> #FFF */
  border-radius: 8px;
  padding: 16px;
  font-weight: 700;
  letter-spacing: 1px;

}