-

/* GENERALES */
* {
  /* GENERALES */
  /* Selector universal, aplica a todas las etiquetas */
  box-sizing: border-box;
  /*ingreso width y  heigth  se ajusta automatico border y padding */
  margin: 0;
  /*para quitar los parametros por defecto del navegador, ojo que cada navegador tiene sus parametros por defecto */
}


  body {
    border: 1px solid red;
    background-color: hsl(234, 29%, 20%);

    font-family: "Roboto", sans-serif;
    Font size (paragraph): 16px ;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 100px;

    
  }

  main {
    border: 1px solid red;
    background-color: white;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


  .section {
    background-color: blue;
  
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;

    /* padding: 20px; */

  }

.section__productos {
  
  background-color: red;
  
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
  /* background-color: black; */
  
  margin-left: 40px;
  /* margin-right: 10px; */
 
}

  .formulario {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }



.intro {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: block;
}

  

  input[type=email] {
    width: 100%;


    color: hsl(0, 0%, 100%);
    /* white <> #FFFFFF <> #FFF */
    border-radius: 8px;
    padding: 16px;
    font-weight: 700;
    letter-spacing: 1px;

  }

  input[type=submit] {
    width: 100%;
    border: none;
    background-color: hsl(169, 82%, 27%);
    color: hsl(0, 0%, 100%);
    /* white <> #FFFFFF <> #FFF */
    border-radius: 8px;
    padding: 16px;
    font-weight: 700;
    letter-spacing: 1px;

  }