body {
  background-color: black;

  display: flex;
  justify-content: center;
  margin: 0;
}


.dragon-app {
  display: flex;
  gap: 1rem;
}

#numberDragons {
  color: white;
}


.dragon-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dragon-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 1000px;
}

/* en main.js ok */
.dragon-item {
  background-color: rgb(205, 244, 206);
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  padding: .5 rem;
  border-radius: .5rem;
  border: 3px solid hsl(240, 8%, 97%);
  min-width: 8rem;
  text-transform: capitalize;
   
}

/* en main.js ok */
.dragon-item h2, 
.dragon-item p {
    margin: 0; 
    padding: 0;
}

/* en main.js ok */
.dragon-item__buttons {
  display: flex;
  gap: .2rem;
}

/* en main.js ok */
.dragon-item__buttons {
  display: flex;
  gap: .2rem;
}

.dragon-button,
.dragon-current-page {
  background-color: hsl(195, 80%, 65%);;
  border: none;
  padding: .5rem;
  cursor: pointer;
}



/* en main.js ok*/
.is-favorite {
  color: red;
  fill: red;
}



/* en main.js */
.is-hidden {
  display: none;
}

/* en main.js */
.dragon-pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

/* en main.js */
.dragon-pagination span {
  background: #fff;
  vertical-align: middle;
  line-height: 2rem;
  padding: 0 .5rem;
}