body {
  background-color: #ddeeaa;

  display: flex;
  justify-content: center;
  margin: 0;
}

.dragon-app {
  display: flex;
  gap: 1rem;
}

.dragon-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dragon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.dragon-item {
  background-color: #aaddee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: .5rem;
  border: 3px solid hsl(195, 80%, 65%);
  min-width: 8rem;
  text-transform: capitalize;
}

.dragon-button,
.dragon-current-page {
  background-color: hsl(195, 80%, 65%);;
  border: none;
  padding: .5rem;
  cursor: pointer;
}

.dragon-item__buttons {
  display: flex;
  gap: .2rem;
}

.is-favorite {
  color: red;
  fill: red;
}

.dragon-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #dea;
  padding: 1rem;
  text-align: center;
  border: 3px solid rgb(143, 168, 68);
  border-radius: 6px;
  margin-top: 43px;
}

.is-hidden {
  display: none;
}

.dragon-pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.dragon-pagination span {
  background: #fff;
  vertical-align: middle;
  line-height: 2rem;
  padding: 0 .5rem;
}