/* GENERALES */

* {
  /* Selector universal */
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

html {
  font-size: 14px;
}

/* font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif; */

body {
  font-family: "Open Sans", sans-serif;

  background-color: hsl(217, 28%, 15%);
  color: hsl(0, 0%, 100%);
}

a {
  color: inherit;

  text-decoration: none;
}

/* UTILS */

.wrapper {
  /* width: 1440px; */
  width: min(100% - 42px, 1440px);

  /* border: 1px solid blue; */
}

/* HEADER SECTION */

.header {
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  margin-top: 42px;
}


.header__nav {
  /* TODO: terminar el css de este nav */
  display: flex;
  gap: 42px;
  /* 42px = 14 * 3 */
}

/* HERO SECTION */

/* todo: Terminar el css para la sección abajo del header(hero). Usen bem para el nombrado de las clases y reutilicen la función min. */

main {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 
    margin: 0 auto;
  margin-top: 42px;
  
}

.hero {
  border: 1px solid white;
}

.hero__landing {
  border: 1px solid red;
  width: 700px;
}


.hero__titulo {
  border: 1px solid red;
  font-family: "Raleway", sans-serif
    margin: 0 auto;
  margin-top: 42px;
  width: 700px;
  text-align: center;
}


.hero__intro {
  border: 1px solid red;
  font-family: "Open Sans", sans-serif;
    margin: 0 auto;
  margin-top: 42px;
  width: 700px;
  text-align: center;
}

.hero__Get-Started {
  border: 1px solid red;
  font-family: "Raleway", sans-serif
    margin: 0 auto;
  margin-top: 42px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  text-align: center;
}
