
* {
    margen:0;
}


body {
    /*border: 1px solid red;*/

    font-family: "inter", sans-serif;
    font-size: 14px;
    background-color: hsl(0, 0%, 8%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 7px;

    margin-top: 28px;
}


main {
    
    /*border: 1px solid green;*/

    background-color: hsl(0, 0%, 12%);
    color: white;
    line-height: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}





div {

    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 7px;
}


img {
    /* 1. Definir tamaño fijo y cuadrado para que el círculo sea perfecto */
    width: 140px;
    height: 140px;

    
    /* 2. El recorte circular */
    border-radius: 50%;
    overflow: hidden;   

    /* 3. MAGIA: Esto evita que la foto se deforme o se vea borrosa al redimensionar */
    object-fit: cover;

    
    /* (Opcional) Ayuda a que los bordes se vean más nítidos en algunos navegadores */
    image-rendering: -webkit-optimize-contrast;

    4. Centrado
    display: block;
    margin: 0 auto;

    /* display: flex; 
    /* justify-content: center;
    align-items: center; */
}

.mensaje { 
    line-height: 40px;
}
.verde {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    
}

.botones {
    /* background-color: aliceblue; */
    box-sizing: content-box;
    width: 300px;
    height: 600px;
}

input  {
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-weight: bold;
    height: 50px;
    width: 400px;
   

}

input:hover {
    background-color:hsl(75, 94%, 57%) ;
    color: black;
    cursor: pointer;
}